.medicine {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    .names {
        display: flex;
        text-align: center;
        margin-top: 2vw;
        justify-content: space-around;
        flex-direction: row;
        .name {
            font-size: 10vw;
            font-weight: bold;
            color: black;
            text-decoration: underline;
        }
    }
    .behavior {
        display: flex;
        text-align: center;
        flex-direction: column;
        margin: 4vw;
        padding: 4vw;
        label {
            font-weight: bold;
            font-size: 5vw;
        }
        textarea {
            resize: vertical;
            background-color: #c5c5c5;
        }
    }
    .options {
        display: flex;
        height: 3vw;
        justify-content: space-evenly;
        margin-bottom: 4vw;
        .delete,
        .update {
            width: 20vw;
            height: 2vw;
        }
    }
    $breakpoint-tablet: 768px;
    @media (max-width: $breakpoint-tablet) {
        .options {
            .delete,
            .update {
                height: 8vw;
            }
        }
    }
}