.display{
    display:flex;
    justify-content: space-evenly;

    .form{
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 2vw;
        .name{
            width: auto;
            margin-right:auto ;
        }
        button{
            height: 2vw;
            justify-self: center;
            width: 15%;
        }
        .submit{
            width: 25%;
            height: 3vw;
            margin: 2vw;
        }
    }
    .section{
        margin: 8px;
        width: 100%;
        border: white 1px solid;
        .collection{
            display: grid;
            grid-template-columns: repeat(2,minmax(50px,1fr));
            .item{
                display: flex;
                flex-direction: row;
                margin :4px;
                border: white 1px solid;
            }
        }
    }
}