    .form {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 2vw;
        .name {
            width: auto;
            margin-right: auto;
        }
        button {
            height: 2vw;
            justify-self: center;
            width: 15%;
        }
        .submit {
            width: 25%;
            height: 3vw;
            margin: 2vw;
        }
        .con {
            .sec {
                box-sizing: border-box;
                display: flex;
                align-items: center;
                margin: 2vw;
                justify-content: space-between;
            }
        }
        $breakpoint-tablet: 768px;
        @media (max-width: $breakpoint-tablet) {
            align-items: center;
            button {
                height: 8vw;
                padding: 3vw;
                width: auto;
            }
        }
    }