.context {
    display: flex;
    width: 100vw;
    flex-direction: column;
    text-align: center;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 5px;
    background-color: #cdcdcd;
    top: 0;
    opacity: 1;
    position: sticky;
    width: fit-content;
    z-index: 1;
}

.icon {
    padding: 2vw;
    text-decoration: none;
    color: black;
}

.icon:hover {
    background: #cdcdcd;
}

.icon-img {
    height: 8vw;
}